# Ejercicio 1:
# Transformar Cadenas

### El texto con el que se trabajara es el siguiente

### Dividir el texto

In [58]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.  On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [59]:
text_separated = text.split('.')
text_separated
print (text_separated)

['Interesting facts about the Moon', " The Moon is Earth's only satellite", ' There are several interesting facts about the Moon and how it affects life here on Earth', '  On average, the Moon moves 4cm away from the Earth every year', ' This yearly drift is not significant enough to cause immediate effects on Earth', ' The highest daylight temperature of the Moon is 127 C', '']

### Definir palabras clave
 - pista: average, temperature y distance suenan bien

In [60]:
key = ( "average", "temperature", "distance")

### Crear Bucle
 - Imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [66]:
for text in text_separated:
    for key in key:
      if key in text:
          print(text)
          break

Interesting facts about the Moon
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 C

### Reemplazar
  - Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [68]:
for text in text_separated:
    for key in key:
      if key in text:
          print(text.replace("C","Celsius"))
          break

Interesting facts about the Moon
 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth
 This yearly drift is not significant enough to cause immediate effects on Earth
 The highest daylight temperature of the Moon is 127 Celsius

## Ejercicio 2:
  #### Formateando Cadenas
     En lugar de reemplazar las variables en una cadena larga como parte de un parrafo, utiliza la informacion para representarla en un formato tabular. El resultadodeberia verse asi:
     
     Gravity Facts about Ganymede
    -------------------------------------------------------------------------------Planet Name: Mars Gravity on Ganymede: 1.4300000000000002 m/s2
    ```

In [6]:
# Datos a Trabajar
name = "Moon"
gravity = 0.00162 # in km
planet = "Earth"

###  Crear Titulo

#### The relationship between the Earth and the Moon,  and how it affects Gravity on Earth

In [7]:
titulo = f"Facts About gravity on the {name}".title()

 - Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [9]:
template = f"Planet Name: {planet}\nGravity on {name}: {str( gravity * 1000)} m/s2"

In [10]:
print(template)

Planet Name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

- Finalmente, usa ambas variables para unir el titulo y los hechos

In [11]:
tabla = f'{titulo}\n{"-"*45}\n{template}'
print ( tabla )

Facts About Gravity On The Moon
---------------------------------------------
Planet Name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

- Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
```

#### Comprobar la plantilla

In [12]:
name = "Ganímedes"
gravity = 0.00143 # in kms
planet = "Marte"
print ( tabla )

Facts About Gravity On The Moon
---------------------------------------------
Planet Name: Earth
Gravity on Moon: 1.6199999999999999 m/s2

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

- Nueva Plantilla

In [18]:
titulo = f"Facts About Gravity On The{name}".title()
template_V2 = f"Planet Name: {planet}\nGravity on {name}: {str( gravity * 1000 )} m/s2"

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [19]:
# Pista: print(nueva_plantilla.format(variables))
tabla = f'{titulo}\n{"-"*45}\n{template}'
print ( tabla )

Facts About Gravity On Theganímedes
---------------------------------------------
Planet Name: Marte
Gravity on Ganímedes: 1.4300000000000002 m/s2